<template v-for="(option, i) in products.options" :key="i">
    <div class="option-title">
        <h4 v-if="option.name == 'Color'" class="g-heading-color">Choose your color</h4>
        <h4 v-else-if="option.name == 'Material'" class="g-heading-color">Choose your lid</h4>
    </div>
    <div v-if="option.name == 'Color'" class="options-wrapper">
        <div class="columns is-multiline is-variable is-2">
            <div v-for="(value, a) in option.values" :key="a" class="column is-one-third">
                <div class="option option-color">
                    <input type="radio" :name=option.name :id=a
                    @change="variantChange($event)" :data-position=option.position
                    :value=value :checked="optionSelector(option.position, value)">
                    <label :for=a class=""> 
                        <div class="color" :class="`g-p-${colorClass(value)}`"></div>
                        <div class="color-title opt-title"><span>${value}</span></div>
                    </label>
                </div> 
            </div>
        </div>
    </div> 
    <div v-if="option.name == 'Material'" class="options-wrapper">
        <div class="columns is-variable is-2">
            <div v-for="(value, a) in option.values" :key="a" class="column">
                <div class="option"> 
                    <input type="radio" :name=option.name :id="optionIdentifier(option.name,a)"
                    @change="variantChange($event)" :data-position=option.position :value=value
                    :checked="optionSelector(option.position, value)">
                    <label :for="optionIdentifier(option.name,a)" class="lid-option">
                        <div class="lid-title opt-title">
                            <span class="g-heading-color">${value}</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>