<div class="option-title">
    <h4 class="g-heading-color" v-if="withIcons">Choose an icon and font.</h4>
    <h4 class="g-heading-color" v-else>Choose your font.</h4>
</div>
<div class="options-wrapper">
    <div class="columns is-multiline is-variable is-2">
        <template v-if="withIcons">
            <div class="column is-one-third">
                <div class="option option-icon">
                    <input data-icon="{% render 'product-icon-type-1' %}" value="Type A" type="radio" name="icon" id="option-icon-1" @change="addIcon" checked>
                    <label for="option-icon-1">
                        <div class="icon-icon">
                            <span>
                                {% render 'product-icon-type-1' %}
                            </span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="option option-icon">
                    <input data-icon="{% render 'product-icon-type-2' %}" value="Type B" type="radio" name="icon" id="option-icon-2" @change="addIcon">
                    <label for="option-icon-2">
                        <div class="icon-icon">
                            <span>{% render 'product-icon-type-2' %}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="option option-icon">
                    <input data-icon="{% render 'product-icon-type-3' %}" value="Type C" type="radio" name="icon" id="option-icon-3" @change="addIcon">
                    <label for="option-icon-3">
                        <div class="icon-icon">
                            <span>{% render 'product-icon-type-3' %}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="option option-icon">
                    <input data-icon="{% render 'product-icon-type-4' %}" value="Type D" type="radio" name="icon" id="option-icon-4" @change="addIcon">
                    <label for="option-icon-4">
                        <div class="icon-icon">
                            <span>{% render 'product-icon-type-4' %}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="option option-icon">
                    <input data-icon="{% render 'product-icon-type-5' %}" value="Type E" type="radio" name="icon" id="option-icon-5" @change="addIcon">
                    <label for="option-icon-5">
                        <div class="icon-icon">
                            <span>{% render 'product-icon-type-5' %}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="option option-icon">
                    <input data-icon="{% render 'product-icon-type-6' %}" value="Type F" type="radio" name="icon" id="option-icon-6" @change="addIcon">
                    <label for="option-icon-6">
                        <div class="icon-icon">
                            <span>{% render 'product-icon-type-6' %}</span>
                        </div>
                    </label>
                </div>
            </div>
        </template>
        <!-- fonts selection -->
        <div class="column is-half">
            <div class="option">
                <input value="mt-regular" type="radio" name="font" id="option-font-1" @change="setFontStyle" checked>
                <label for="option-font-1" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color">Thermi Style Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="column is-half">
            <div class="option">
                <input value="Dancing Script" type="radio" name="font" id="option-font-2" @change="setFontStyle">
                <label for="option-font-2" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color g-font-dancing this-font-size">Dancing Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="column is-half">
            <div class="option">
                <input value="Caveat" type="radio" name="font" id="option-font-3" @change="setFontStyle">
                <label for="option-font-3" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color g-font-caveat this-font-size">Caveat Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="column is-half">
            <div class="option">
                <input value="Acme" type="radio" name="font" id="option-font-4" @change="setFontStyle">
                <label for="option-font-4" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color g-font-acme this-font-size">Acme Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="column is-half">
            <div class="option">
                <input value="Satisfy" type="radio" name="font" id="option-font-5" @change="setFontStyle">
                <label for="option-font-5" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color g-font-satisfy this-font-size">Satisfy Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="column is-half">
            <div class="option">
                <input value="Cookie" type="radio" name="font" id="option-font-6" @change="setFontStyle">
                <label for="option-font-6" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color g-font-cookie this-font-size">Cookie Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="column is-half">
            <div class="option">
                <input value="Secular One" type="radio" name="font" id="option-font-7" @change="setFontStyle">
                <label for="option-font-7" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color g-font-secular">Secular One Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="column is-half">
            <div class="option">
                <input value="Montserrat" type="radio" name="font" id="option-font-8" @change="setFontStyle">
                <label for="option-font-8" class="font-option">
                    <div class="font-title opt-title">
                        <div class="font-title-txt">
                            <span class="g-heading-color g-font-montserrat">Montserrat Font</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>