<form>
  <div class="custom-option">
    <div class="option-label">
      <span>Color</span>
    </div>
    <div class="option-swatch">
        {% for variant in product.variants %}
            <div class="swatch-wrapper">
                <input type="radio" id="option{{forloop.index}}" name="swatch" value="white" {% if forloop.index == 1%} checked {% endif %}/>  
                <label cla for="option{{forloop.index}}">
                    {% if variant.inventory_quantity == 0 %}
                        <span class="slash"></span>
                    {% endif %}
                    <div class="color">
                        <span style="background-color: {{ variant.metafields.color.value }}"></span>
                    </div>
                    <div class="desc">
                        <span>{{ variant.title }}</span>
                        <span>
                            {% if variant.inventory_quantity != 0 %}
                                in stock
                            {% else %}
                                out of stock
                            {% endif %}
                        </span>
                    </div>
                </label>
            </div>
        {% endfor %}
    </div>
  </div>
</form>
