 <!-- product 1 -->
 <div class="product-item" v-for="product in searchData">
    <div class="product__inner">
        <a :href="product.url" class="product__image">
            <img :src="product.featured_image.url" alt="Product Image" loading="lazy" width="{{product.images[0].width}}" height="{{product.images[0].height}}">
        </a>
        <div class="product__wrapper">
            <a :href="product.url" class="page-link"></a>
            <h4 class="product__title">
                ${product.title}
            </h4>
            <h5 class="product__desc">
                ${product.body}
            </h5>
            <!-- <div class="product__variants">
                <ul class="list-variants">
                    {% for variant in product.variants %}
                        {%if variant.metafields.color.value != blank%}
                            <li><span class="variant-1" data-variant-color="{{ variant.metafields.color.value}}" style="background-color: {{ variant.metafields.color.value }}"></span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div> -->
        </div>
    </div>
</div>
 <!--End product 1 -->
