<section class="section-login section-padding">
  <div id="login" class="login-shell shell">
    <h2 class="login-title section-title">Login</h2>
    <div class="wrapper">
      <p class="wrapper-subtitle">Thermi customer account is not yet available!</p>
      <p class="wrapper-subtitle-hide">Customers who are members can log in to purchase.</p>
      <div class="wrapper-inputs">
        <input class="input-email" type="email">
        <input class="input-password" type="password">
      </div>
      <div class="wrapper-button">
        <a href="/">Login</a>
      </div>
      <div class="wrapper-infos">
        <a href="/">Forgot password?</a>
        <p>If you forgot your email address, please proceed to the <a href="/">contact page</a> to contact us.</p>
      </div>
      <div class="wrapper-register">
        <a href="/">Register Now</a>
      </div>
    </div>
  </div>
</section>