<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Accordion -->
<section class="section-accordion {% if section.settings.sectionPadding == false %} section-padding {% else %} override-padding {% endif %}">
  <div class="accordion-shell shell">
    <div class="accord-wrapper">
      <input type="checkbox" id="accord-{{-section.id-}}" />
      <label for="accord-{{-section.id-}}">
        <p>{{ section.settings.title }}</p>
        <span>{% render "chevron-down" %}</span>
      </label>
      <div class="accord-body">
        {{ section.settings.bodyText }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Simple Accordion",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "About the finish"
    },
    {
      "type": "textarea",
      "id": "bodyText",
      "label": "Body Text",
      "default": "Write something for your product here",
      "info": "You can include HTML format such as <p> for paragraph.</p>"
    },
    {
      "type": "checkbox",
      "id": "sectionPadding",
      "label": "Add section padding?"
    }
  ],
  "presets": [
    {
      "name": "Simple Accordion"
    }
  ]
}
{% endschema %}
