<section class="section-ordernow section-padding{% if section.settings.sectionPadding %} remove-extra {% endif %}" id="{{ section.settings.anchorID }}" style="background-color: {{ section.settings.sectionColor }};">
    <div class="ordernow-shell shell">
        <a href="{{ section.settings.buttonUrl }}" class="products-btn  big-btn">
            <span>{{ section.settings.buttonText }}</span>
            <span>
                {% render 'fat-arrow-right' %}
            </span>
        </a>
    </div>
</section>

{% schema %}
{
    "name": "Big Button",
    "settings": [
        {
            "type": "checkbox", 
            "id": "sectionPadding",
            "label": "Remove Section Padding?",
            "default": false
        },
        {
            "type": "text",
            "id": "buttonText",
            "label": "Button Text"
        },
        {
            "type": "url",
            "id": "buttonUrl",
            "label": "Button URL"
        },
        {
            "type": "text",
            "id": "anchorID",
            "label": "Anchor ID",
            "info": "Add an anchor link to create an on page navigation."
        },
        {
          "type": "color",
          "id": "sectionColor",
          "label": "Section BG",
          "default": "#f7f7f7"
        }
    ],
    "presets": [
        {
            "name": "Big Button"
        }
    ]
}
{% endschema %}