<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section collection list -->
<section class="section-collection {% if section.settings.sectionPadding != true %} section-padding {% endif %}">
    <div class="page-shell shell">
        {% if section.settings.navBack != true %}
            <a href="/" class="page-back"><span>< Back</span></a>
        {% endif %}
        <div class="page-title">
            <p>{{ section.settings.colTitle }}</p>
        </div>
        {% assign collections = section.settings.colList %}
        <div class="page-products">
           {% render "choose-product-card" for collections.products as product %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Collection Cards",
    "settings": [
        {
            "type": "text",
            "id": "colTitle",
            "label": "Collection Title",
            "default": "Featured Collection"
        },
        {
            "type": "collection",
            "id": "colList",
            "label": "Collection List"
        },
        {
            "type": "header",
            "content": "Section Settings"
        },
        {
            "type": "checkbox",
            "id": "sectionPadding",
            "label": "Remove Section Padding?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "navBack",
            "label": "Remove The Mobile Nav Back?",
            "default": false
        }
    ],
    "presets": [
        {
            "name": "Collection Cards"
        }
    ]
  }
{% endschema %}