<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for Choose Page -->
<section class="section-choose section-padding">
  <div class="page-shell shell">
    <ol class="page-steps">
      <li class="step active">
        <div>
          <h4>CHOOSE</h4>
          <span>Choose a product</span>
        </div>
      </li>
      <li class="step">
        <div>
          <h4>MARK IT</h4>
          <span>Choose a color design</span>
        </div>
      </li>
      <li class="step">
        <div>
          <h4>ORDER</h4>
          <span>Order</span>
        </div>
      </li>
    </ol>
  </div>
</section>

{% schema %}
  {
    "name": "Choose a product",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


