<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section collection list -->
<section class="section-collection {% if section.settings.sectionPadding != true %} section-padding {% endif %}">
    <div class="columns is-variable is-4 is-2-tablet">
        <!-- first column -->
        <!-- Page Filter -->
        <div class="column is-one-fifth product-collection__categories">
            <div class="categories-nav">
                <div class="categories-nav__items">
                    <ul class="items">
                        <li class="g-heading-color">Product Categories</li>
                        <li class="g-text-color"><a href="/">Drinkware</a></li>
                        <li class="g-text-color"><a href="/">Promotional Products</a></li>
                        <li class="g-text-color"><a href="/">Wood Maps</a></li>
                        <li class="g-text-color"><a href="/">Golf Gear</a></li>
                        <li class="g-text-color"><a href="/">Corporate Gifts</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Second Column -->
        <div class="page-shell">
            {% if section.settings.navBack != true %}
                <a href="/" class="page-back"><span>< Back</span></a>
            {% endif %}
            <div class="product-collection ">
                <div class="product-collection__title page-title">
                    <p>{{section.settings.colTitle}}</p>
                </div>
                {% assign collections = section.settings.colList %}
                <div class="page-products">
                    {% render "choose-product-card" for collections.products as product %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Collection Cards",
    "settings": [
        {
            "type": "text",
            "id": "colTitle",
            "label": "Collection Title",
            "default": "Featured Collection"
        },
        {
            "type": "collection",
            "id": "colList",
            "label": "Collection List"
        },
        {
            "type": "header",
            "content": "Section Settings"
        },
        {
            "type": "checkbox",
            "id": "sectionPadding",
            "label": "Remove Section Padding?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "navBack",
            "label": "Remove The Mobile Nav Back?",
            "default": false
        }
    ],
    "presets": [
        {
            "name": "Collection Cards"
        }
    ]
  }
{% endschema %}