<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section collection list -->
<section  class="section-collection {% if section.settings.sectionPadding != true %} section-padding {% endif %}">
    {% if section.settings.navBack != true %}
        <div class="page-shell shell">
            <a href="/" class="page-back"><span>< Back</span></a>
        </div>
    {% endif %}
    <div class="columns is-variable is-4 is-2-tablet">
        <!-- first column -->
        <!-- Page Filter -->
        {% if section.settings.productCategories != true%}
            <div class="column is-one-fifth product-collection__categories">
                <div class="categories-nav">
                    <div class="categories-nav__items">
                        <ul class="items">
                            <li class="g-heading-color">Product Categories</li>
                            {%for block in section.blocks %}
                                <li class="g-text-color"><a href="#{{block.settings.categoryLink}}">{{block.settings.colTitle}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Second Column -->
        <div class="page-shell" {% if section.settings.productCategories == true %} style="margin: 0 auto;" {% endif %}>
            {% for block in section.blocks %}
                <div {% if block.settings.categoryLink != blank %} id="{{block.settings.categoryLink}}" {% endif %} class="product-collection">
                    <div class="product-collection__title page-title">
                        <p>{{block.settings.colTitle}}</p>
                    </div>
                    {% assign collections = block.settings.colList %}
                    <div class="page-products">
                        {% render "choose-product-card" for collections.products as product %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Collection Cards",
    "settings": [
        {
            "type": "header",
            "content": "Section Settings"
        },
        {
            "type": "checkbox",
            "id": "sectionPadding",
            "label": "Remove Section Padding?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "navBack",
            "label": "Remove The Mobile Nav Back?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "productCategories",
            "label": "Remove Product Categories?"
        },
        {
            "type": "text",
            "id": "sectionID",
            "label": "Section ID",
            "info": "This is used for navigation"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Product Categories",
            "settings": [
                {
                    "type": "text",
                    "id": "colTitle",
                    "label": "Collection Title",
                    "default": "Featured Collection"
                },
                {
                    "type": "collection",
                    "id": "colList",
                    "label": "Collection List"
                },
                {
                    "type": "text",
                    "id": "categoryLink",
                    "label": "Category Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Cards"
        }
    ]
  }
{% endschema %}