<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for Blogs -->
<section class="section-blogs section-padding">
    <div class="blogs-shell shell">
        <h2 class="blogs-title section-title">{{ page.title | escape }}</h2>
        <div class="blogs-body">
            <div class="columns is-multiline is-centered">
                <div class="column is-4">
                    <div class="card">
                        <a href="/" class="card-link"></a>
                        <div class="image">
                            <div class="image is-4by3">
                                <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/idea_17_2480x.jpg?v=1597798018" alt="" srcset="" loading="lazy">
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-date">
                                <span class="g-card-texts-1">October 22, 2021</span>
                            </div>
                            <div class="card-title">
                                <span class="g-card-heading card-heading">Your new officemate is here!</span>
                            </div>
                            <div class="card-text">
                                <span class="g-card-texts-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates? Eius magni, animi deserunt fugit 
                                    laudantium dolorem optio officiis laboriosam, nihil voluptates quasi saepe a blanditiis, sunt nisi quisquam quaerat!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <a href="/" class="card-link"></a>
                        <div class="image">
                            <div class="image is-4by3">
                                <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/idea_10_2480x.jpg?v=1594682523" alt="" srcset="" loading="lazy">
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-date">
                                <span class="g-card-texts-1">October 22, 2021</span>
                            </div>
                            <div class="card-title">
                                <span class="g-card-heading card-heading">Around the World with Thermi!</span>
                            </div>
                            <div class="card-text">
                                <span class="g-card-texts-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates? Eius magni, animi deserunt fugit 
                                    laudantium dolorem optio officiis laboriosam, nihil voluptates quasi saepe a blanditiis, sunt nisi quisquam quaerat!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <a href="/" class="card-link"></a>
                        <div class="image">
                            <div class="image is-4by3">
                                <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/ideas_pc_4_2480x.jpg?v=1624605273" alt="" srcset="" loading="lazy">
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-date">
                                <span class="g-card-texts-1">October 22, 2021</span>
                            </div>
                            <div class="card-title">
                                <span class="g-card-heading card-heading">Going Green? Count as IN!</span>
                            </div>
                            <div class="card-text">
                                <span class="g-card-texts-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates? Eius magni, animi deserunt fugit 
                                    laudantium dolorem optio officiis laboriosam, nihil voluptates quasi saepe a blanditiis, sunt nisi quisquam quaerat!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <a href="/" class="card-link"></a>
                        <div class="image">
                            <div class="image is-4by3">
                                <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/190221_KINTO17742_re2_cbee88b8-8f3f-4d11-af71-93f6db5eba8a_2480x.jpg?v=1626227021" alt="" srcset="" loading="lazy">
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-date">
                                <span class="g-card-texts-1">October 22, 2021</span>
                            </div>
                            <div class="card-title">
                                <span class="g-card-heading card-heading">Gray is the NEW BLACK!</span>
                            </div>
                            <div class="card-text">
                                <span class="g-card-texts-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates? Eius magni, animi deserunt fugit 
                                    laudantium dolorem optio officiis laboriosam, nihil voluptates quasi saepe a blanditiis, sunt nisi quisquam quaerat!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blogs-btn">
                <a href="{{ section.settings.url }}" class="big-btn"><span>View More</span></a>
            </div>
        </div>
    </div>
</section>