<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for Choose Page -->

<!-- Rendered when users navigate to shop/products -->
<section class="section-contactus section-padding">
    <div class="contactus-shell shell">
        <h2 class="contactis-title section-title">{{ page.title | escape }}</h2>

        <div class="contactus-body" style="margin: 0 40px">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est explicabo qui harum eum quos nemo quidem labore vel, totam sequi nulla similique asperiores debitis natus facere deleniti distinctio velit!</span><span>Cumque suscipit voluptatibus non corrupti modi molestias rerum? Similique saepe minima tenetur officiis sit, commodi consectetur natus voluptatibus nam at architecto aut facere modi inventore, quod, nihil repellat! Vero, necessitatibus!</span></p>
            <br/>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est explicabo qui harum eum quos nemo quidem labore vel, totam sequi nulla similique asperiores debitis natus facere deleniti distinctio velit!</span><span>Cumque suscipit voluptatibus non corrupti modi molestias rerum? Similique saepe minima tenetur officiis sit, commodi consectetur natus voluptatibus nam at architecto aut facere modi inventore, quod, nihil repellat! Vero, necessitatibus!</span></p>
            <br/>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est explicabo qui harum eum quos nemo quidem labore vel, totam sequi nulla similique asperiores debitis natus facere deleniti distinctio velit!</span><span>Cumque suscipit voluptatibus non corrupti modi molestias rerum? Similique saepe minima tenetur officiis sit, commodi consectetur natus voluptatibus nam at architecto aut facere modi inventore, quod, nihil repellat! Vero, necessitatibus!</span></p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est explicabo qui harum eum quos nemo quidem labore vel, totam sequi nulla similique asperiores debitis natus facere deleniti distinctio velit!</span><span>Cumque suscipit voluptatibus non corrupti modi molestias rerum? Similique saepe minima tenetur officiis sit, commodi consectetur natus voluptatibus nam at architecto aut facere modi inventore, quod, nihil repellat! Vero, necessitatibus!</span></p>
        </div>
    </div>
</section>
<!-- <div class="page-width page-width--narrow">
    <h1 class="main-page-title page-title h0">
      {{ page.title | escape }}
    </h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div> -->
  
  {% schema %}
  {
    "name": "t:sections.main-page.name",
    "tag": "section",
    "class": "spaced-section"
  }
  {% endschema %}