<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section collection list -->
<section class="section-collection section-padding">
    <div class="page-shell shell">
        <a href="/" class="page-back"><span>< Back</span></a>
        <div class="page-title">
            <p>Stainless steel tumbler + laser engraving</p>
        </div>
        <div class="page-products">
            <!-- product 1 -->
            <div class="product-item">
                <div class="product__inner">
                    <a href="/" class="product__image">
                        <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/products/20932_500x.jpg?v=1618465812" alt="">
                    </a>
                    <div class="product__wrapper">
                        <a href="/" class="page-link"></a>
                        <h4 class="product__title">
                            Travel tumbler 350ml
                        </h4>
                        <h5 class="product__desc">
                            Product price $50 (tax included) + processing fee
                        </h5>
                        <div class="product__variants">
                            <ul class="list-variants">
                                <li><span class="variant-1"></span></li>
                                <li><span class="variant-2"></span></li>
                                <li><span class="variant-3"></span></li>
                                <li><span class="variant-4"></span></li>
                                <li><span class="variant-5"></span></li>
                                <li><span class="variant-6"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product 2 -->
            <div class="product-item">
                <div class="product__inner">
                    <a href="/" class="product__image">
                        <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/products/20932_500x.jpg?v=1618465812" alt="">
                    </a>
                    <div class="product__wrapper">
                        <a href="/" class="page-link"></a>
                        <h4 class="product__title">
                            Travel tumbler 350ml
                        </h4>
                        <h5 class="product__desc">
                            Product price $50 (tax included) + processing fee
                        </h5>
                        <div class="product__variants">
                            <ul class="list-variants">
                                <li><span class="variant-1"></span></li>
                                <li><span class="variant-2"></span></li>
                                <li><span class="variant-3"></span></li>
                                <li><span class="variant-4"></span></li>
                                <li><span class="variant-5"></span></li>
                                <li><span class="variant-6"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product 3 -->
            <div class="product-item">
                <div class="product__inner">
                    <a href="/" class="product__image">
                        <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/products/20932_500x.jpg?v=1618465812" alt="">
                    </a>
                    <div class="product__wrapper">
                        <a href="/" class="page-link"></a>
                        <h4 class="product__title">
                            Travel tumbler 350ml
                        </h4>
                        <h5 class="product__desc">
                            Product price $50 (tax included) + processing fee
                        </h5>
                        <div class="product__variants">
                            <ul class="list-variants">
                                <li><span class="variant-1"></span></li>
                                <li><span class="variant-2"></span></li>
                                <li><span class="variant-3"></span></li>
                                <li><span class="variant-4"></span></li>
                                <li><span class="variant-5"></span></li>
                                <li><span class="variant-6"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product 4 -->
            <div class="product-item">
                <div class="product__inner">
                    <a href="/" class="product__image">
                        <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/products/20932_500x.jpg?v=1618465812" alt="">
                    </a>
                    <div class="product__wrapper">
                        <a href="/" class="page-link"></a>
                        <h4 class="product__title">
                            Travel tumbler 350ml
                        </h4>
                        <h5 class="product__desc">
                            Product price $50 (tax included) + processing fee
                        </h5>
                        <div class="product__variants">
                            <ul class="list-variants">
                                <li><span class="variant-1"></span></li>
                                <li><span class="variant-2"></span></li>
                                <li><span class="variant-3"></span></li>
                                <li><span class="variant-4"></span></li>
                                <li><span class="variant-5"></span></li>
                                <li><span class="variant-6"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product 5 -->
            <div class="product-item">
                <div class="product__inner">
                    <a href="/" class="product__image">
                        <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/products/20932_500x.jpg?v=1618465812" alt="">
                    </a>
                    <div class="product__wrapper">
                        <a href="/" class="page-link"></a>
                        <h4 class="product__title">
                            Travel tumbler 350ml
                        </h4>
                        <h5 class="product__desc">
                            Product price $50 (tax included) + processing fee
                        </h5>
                        <div class="product__variants">
                            <ul class="list-variants">
                                <li><span class="variant-1"></span></li>
                                <li><span class="variant-2"></span></li>
                                <li><span class="variant-3"></span></li>
                                <li><span class="variant-4"></span></li>
                                <li><span class="variant-5"></span></li>
                                <li><span class="variant-6"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Collection List",
    "settings": []
  }
{% endschema %}