<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for Choose Page -->
<section class="section-viewmore section-padding">
    <div class="page-shell shell">
        <div class="banner-wrapper">
            <div class="banner-image">
                <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/files/524.png?v=1611131746" alt="">
            </div>
            <div class="banner-info">
                <p class="banner-text">
                    Tumbler / Bottle accessories are also <br> available for purchase.
                </p>
                <p class="banner-link">
                    <a href="/">View more</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "View more card",
    "settings": []
}
{% endschema %}