<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for Choose Page -->
<section class="section-choose section-padding">
  <div class="page-shell shell">
    <ol class="page-steps">
      <li class="step {% if section.settings.contextId == "choose" %} active {% endif %}">
        <div>
          <h4>CHOOSE</h4>
          <span>Choose a product</span>
        </div>
      </li>
      <li class="step {% if section.settings.contextId == "mark" %} active {% endif %}">
        <div>
          <h4>MARK IT</h4>
          <span>Choose a color design</span>
        </div>
      </li>
      <li class="step {% if section.settings.contextId == "order" %} active {% endif %}">
        <div>
          <h4>ORDER</h4>
          <span>Order</span>
        </div>
      </li>
    </ol>
  </div>
</section>

{% schema %}
  {
    "name": "Page Context",
    "settings": [
      {
        "type": "radio",
        "id": "contextId",
        "label": "Page Context",
        "options": [
          {
            "value": "choose",
            "label": "Choose"
          },
          {
            "value": "mark",
            "label": "Mark it"
          },
          {
            "value": "order",
            "label": "Order"
          }
        ],
        "default": "choose"
      },
      {
        "type": "header",
        "content": "Page Indicator Texts"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


