<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main Product Page -->
<section class="section-check section-padding">
  <div id="pageCheck" class="check-shell shell">
      <div class="check-wrapper">
          <a href="/products/treat-button" class="check-back mobile">< Return to the Editing Page</a>
          <div class="check-preview">
              <img src="https://cdn.shopify.com/s/files/1/0076/8747/1170/products/20942_1024x1024.jpg?v=1618465816" alt="">
          </div>
          <div class="check-side">
              <div class="check-info">
                  <h5 class="check-title">Travel Tumbler 500ml</h5>
                  <div class="check-desc">
                    <p class="check-desc__variant">Color: <span>white</span></p>
                    <p class="check-desc__price">$ 120 (tax included)</span></p>
                    <p class="check-desc__price-desc">(product price $100 + processing fee $20)</span></p>
                  </div>
                  <div class="check-list">
                    <h5 class="check-list__title">Checklist</h5>
                    <div class="check-list__content">
                      <p class="lead confirm__desc js-show-at-ec"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        About the finish</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ Printing is done with a laser engraving machine. </font><font style="vertical-align: inherit;">In actual products, the appearance of colors differs depending on the amount of light and the angle. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ We will process it on the front of the main body. </font><font style="vertical-align: inherit;">The back (opposite side) has the KINTO original logo mark. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        -The size and position of the engraving are determined for each shape of the main body. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        -The color of the engraving is determined for each color of the main body. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        -The design and characters displayed on the screen are simulations. </font><font style="vertical-align: inherit;">The color and position of the engraving may differ from the actual one. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        -The actual marking position and color may look different depending on your monitor and browser environment. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ Depending on the color of the main body, it may be difficult to see the engraving. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ Even if you purchase multiple units of the same color, the finished color of the engraving may differ slightly. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ Since each item is manually processed, some distortion or deviation may be seen. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ This service is available only at the time of purchase and cannot be processed into products that have already been used. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ Cancellation after ordering cannot be accepted. </font><font style="vertical-align: inherit;">
                        If you are applying </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                
                        for </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 or more items </font><font style="vertical-align: inherit;">, please contact us using </font></font><a href="https://www.kinto.co.jp/contact/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">this inquiry form</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> . </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                
                        Payment</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ The following payment methods are available. </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                
                        Credit card payment</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        [Types of credit cards that can be used] </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        VISA, MasterCard, AMEX, JCB </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                
                        About delivery</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ It </font><font style="vertical-align: inherit;">will </font><font style="vertical-align: inherit;">take 6 business days from the day after the order date to deliver. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ Saturdays, Sundays, and holidays, as well as holidays such as the year-end and New Year holidays and Obon festival, cannot be shipped without permission. </font><font style="vertical-align: inherit;">note that. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ We do not accept overseas shipments or deliveries to overseas shipping agents. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ It may change depending on the holidays and congestion. </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                
                        Returns / Cancellations</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ All customized products are original products for our customers. </font><font style="vertical-align: inherit;">Please note that we cannot accept returns, exchanges or cancellations. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ We make every effort to ensure the quality of our products, but if you find any defects in the delivered products, please contact us within 7 days of the arrival of the products by using the inquiry form or by phone. .. </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                
                        About design contents</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ・ Processed designs created by customers do not use words or expressions that are offensive to public order and morals (such as swearing words, insulting / discriminatory expressions, inappropriate slang, and expressions that incite violence), and are written by third parties. Kinto Co., Ltd. shall not be liable for any dispute with the right holder, assuming that it does not infringe any rights, trademark rights, design rights, or other legal rights. </font><font style="vertical-align: inherit;">In addition, quotations such as brand names, product names, service names, company names, store names, copyrighted works, or processed designs with partial citations associated with these cases cannot be used. </font><font style="vertical-align: inherit;">Kinto Co., Ltd. reserves the right to invalidate your order due to the content of the processing design such as violation of the rules.</font></font><br>
                      </p>
                    </div>
                  </div>
              </div>
              <div class="check-agree">
                <p>I agree with the above and add it to my cart.</p>
              </div>
              <div class="check-add">
                <button @click.prevent="openPage">
                    <span>{% render "shopping-cart" %}</span>
                    <span>Add To Cart</span>
                </button>
                <a href="/products/treat-button" class="check-back wide">< Return to the Editing Page</a>
              </div>
          </div>
      </div>
  </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<script>
const PageCheck = {
    data() {
        return {
        }
    },
    methods: {
        openPage() {
            window.location.href = "/cart"
        }
    },
}

Vue.createApp(PageCheck).mount('#pageCheck');
</script>
