<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section collection list -->
<section class="section-collection section-padding">
    <div class="page-shell shell">
        <a href="/" class="page-back"><span>< Back</span></a>
        <div class="page-title">
            <p>Stainless steel tumbler + laser engraving</p>
        </div>
        <div class="page-products">
           {% render "choose-product-card" for collections['stainless-steel-tumbler'].products as product %}
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Collection List",
    "settings": []
  }
{% endschema %}