.section-cardwtext {
    .cardwtext-shell {
        .container {
            .columns {
                .column {
                    .card {
                        border-radius: 0;
                        .card-image {
                            .image {
                                img {
                                    border-radius: 0;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}