.section-cardwtext {
    .cardwtext-shell {
        .columns {
            @include breakpoint-up(medium) {
                display: flex;
            }
            .column {
                box-sizing: border-box;
                &:nth-child(n+3) {
                    padding-top: 20px;
                }
                .card {
                    border-radius: 0;
                    .card-image {
                        .image {
                            img {
                                border-radius: 0;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}