.page{
	&-steps {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .step {
            list-style: none;
            &:not(:last-child) {
                margin-right: 70px;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: $white;
                width: 260px;
                height: 100px;
                border-radius: 20px;
                box-shadow: -5px 7px 20px -3px rgba(94,94,94,0.75);
            }
        }

    }
} /* .page */

// Hide this on Mobile
@include breakpoint-down(small) {
    .page-steps {
        display: none;
    }

    .page-back {
        display: inline-block;
    }

    .section-choose.section-padding {
        padding-bottom: 0;
    }
}