.section-contactus {

    .contactus-form-shell {

        form {
            .columns {
                .column {
                    &.wide {
                        @include breakpoint-down(medium) {
                            display: none;
                        }
                    }
                    .form {
                        display: flex;
                        flex-direction: column;

                        &.mobile {
                            @include breakpoint-up(large) {
                                display: none;
                            }
                        }

                        &:not(:first-child) {
                            margin-top: 10px;
                        }
                        label {
                            position: relative;
                            margin-bottom: 5px;
                            color: $darkGray;

                            &.required {
                                &::after {
                                    content: '*';
                                    margin-left: 5px;
                                    color: red;
                                }
                            }
                        }

                        input, textarea {
                            font-family: 'mt-regular',sans-serif;
                            color: $lightGray;
                            padding: 5px;
                            font-size: toRem(16);
                            outline: none;
                            border: 2px solid $lightGray1;

                            &::placeholder {
                                color: $lightGray1;
                            }
                        }
                    }

                    .submit {
                        margin-top: 15px;
                        .btn-submit {
                            @include breakpoint-down(small) {
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}