@font-face {
  font-family: "mt-black";
  src: url("fonts/made_tommy_black.otf");
}

@font-face {
  font-family: "mt-bold";
  src: url("fonts/made_tommy_bold.otf");
}

@font-face {
  font-family: "mt-extra-bold";
  src: url("fonts/made_tommy_extra_bold.otf");
}

@font-face {
  font-family: "mt-medium";
  src: url("fonts/made_tommy_medium.otf");
}

@font-face {
  font-family: "mt-regular";
  src: url("fonts/made_tommy_regular.otf");
}

@font-face {
  font-family: "mt-thin";
  src: url("fonts/made_tommy_thin.otf");
}
