html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;

  // On page scroll on desktop
  @include header-breakpoint() {
    scroll-padding-top: 70px;
  }

  // On page scroll on mobile
  @include breakpoint-down(small) {
    @include header-breakpoint() {
      scroll-padding-top: 65px;
    }
  }
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: "mt-regular", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  color: $lightGray;
  line-height: 1.3;
  height: 100%;
  z-index: 5;
  overflow: default;
}
button {
  font-family: "mt-regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  user-select: none !important;
  outline: none !important;
}

div {
  -webkit-tap-highlight-color: transparent;
}
button,
button:visited,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  color: inherit;
  user-select: none;
  outline: 0;
  border: none;
  // background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
input,
input:visited,
input:hover,
input:focus,
input:active {
  text-decoration: none;
  color: inherit;
  user-select: none;
  outline: 0;

  // background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

label {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  // margin-top: 75px;
}

// Quantity-Options
.item-quantity {
  margin-top: 15px;
  background-color: $darkGray1;
  border: 1px solid $darkGray1;
  color: $white;
  display: inline-block;
  border-radius: 5px;

  @include breakpoint-down(small) {
      margin-top: 5px;
      margin-bottom: 10px;
  }
  
  .item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qt {
    text-align: center;
    padding: 5px 8px;
    font-weight: 700;

    a {
      color: $white;
    }
  }

  .add {
    width: 18px;
    cursor: pointer;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      -webkit-tap-highlight-color: transparent;
    }
  }

  .items {
    font-weight: 400;
    border: none;
    background-color: $white;
    color: $darkGray;
    span {
      padding: 0 10px;
    }
  }

  .minus {
    width: 18px;
    cursor: pointer;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}

// Container
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.3s linear;

    img {
      z-index: 9999;
    }
  }
}

// Flexbox styles
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center !important;
  }

  &-ai-c {
    align-items: center;
  }
}

// Grid
.grid {
  display: grid;

  &-temp-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// Margin Global
.mt-60 {
  margin-top: 60px;
}

.mt-30 {
  margin-top: 30px;
}

// Section Padding
.section-padding {
  padding-bottom: 100px;

  @include breakpoint-down(small) {
    padding-bottom: 90px;
  }
}

// Remove extra padding
.remove-extra {
  padding-bottom: 50px !important;

  @include breakpoint-down(small-mid) {
    padding-bottom: 80px !important;
  }
}

// Extra Padding
.section-padding.pad-bot {
  padding-bottom: 120px;
}

// Shell styling

.shell {
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

// Section Title
.section-title {
  font-size: toRem(35);
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 60px 0 80px 0;
  font-family: "mt-bold", sans-serif;
  color: $darkGray;

  @include breakpoint-down(small) {
    padding: 60px 0;
    font-size: toRem(25);
  }
}
.section-sub-title {
  font-size: toRem(22);
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;
  font-family: "mt-medium", sans-serif;
  color: $darkGray;

  // @include breakpoint-down(small) {
  //   padding: 60px 0;
  //   font-size: toRem(25);
  // }
}

// Text Color

// Heading $darkGray
// sub-heading $darkGray
// text $lightGray
// text accent $lightGray

.g-heading-color {
  color: $darkGray;
}

.g-sub-heading-color {
  color: $darkGray;
}

.g-text-color {
  color: $lightGray;
}

  // Page Title
.page-title {
  font-size: toRem(24);
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0 40px 0;

  @include breakpoint-down(small) {
    font-size: 14px;
    padding: 20px 0 10px 0;
  }
}

// For List like layout ex: ContactUs Page
.g-list-title {
  font-size: toRem(28);
  font-family: 'mt-medium', sans-serif;
  color: $darkGray;

  @include breakpoint-down(small) {
    font-size: toRem(26);
  }
}
// Rules 
// Headings should be darkgray
// Texts should be lightGray

// Texts
.g-card-heading {
  font-size: toRem(26);
  text-transform: capitalize;
  color: $darkGray;
  font-family: "mt-medium";
}

.g-card-heading-small {
  font-size: toRem(16);
  color: $darkGray;
}

// large text
.g-card-texts-1 {
  color: $lightGray;
  font-size: toRem(15);
  line-height: 2;

  @include breakpoint-down(medium) {
    text-align: left;
    font-size: toRem(18);
  }

  @include breakpoint-down(small) {
    text-align: center;
    line-height: 1.8;
    font-size: toRem(15);
  } 
}
// medium Text
.g-card-texts-3 {
  color: $darkGray;
}

// Smaller text 
.g-card-texts-2 {
  font-size: toRem(14);
  line-height: 20px;
  color: $lightGray;
}

// side buttons
.g-base-btn {
  display: block;
  margin: 0 auto;
  width: 240px;
  padding: 12px 0;
  border: 2px solid $black;
  border-radius: 60px;

  text-transform: uppercase;
  font-family: 'mt-medium', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;

  transition: color 0.5s ease-in-out, background 0.5s ease-in-out,
  border-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
// Buttons
.big-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;
  text-transform: capitalize;
  padding: 14px 0;
  width: 300px;
  height: 32px;
  margin: 0 auto;
  font-size: toRem(18);
  background: $darkGray1;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out,
    border-color 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &:hover {
    background: $darkGray;
  }

  span {
    color: #fff;
    text-align: left;
    line-height: 0;

    &:last-child {
      margin-left: 10px;
      svg {
        height: 32px;
      }
    }
    // &::after {
    //   content: "";
    //   background: url(https://cdn.shopify.com/s/files/1/0598/6159/8417/files/fat_arrow_right.svg?v=1635966019)
    //     no-repeat 0 0;
    //   background-size: 100% 100%;
    //   width: 32px;
    //   height: 12px;
    //   margin-left: 20px;
    //   display: inline-block;

    //   @include breakpoint-down(medium) {
    //     margin-left: 15px;
    //     width: 28px;
    //   }
    // }
  }

  @include breakpoint-down(medium) {
    // padding: 40px 0;
    // width: 530px;
  }

  @include breakpoint-down(small) {
    font-size: toRem(18);
    // font-weight: 400;
    // padding: 30px 0;
    // width: 300px;
  }
}
.g-btn-arrow-right {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: toRem(14);
  padding-right: 15px;
  justify-content: space-between;
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out,
  border-color 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &:hover {
    background-color: $black;
    span {
      color: $white;
      svg {
        fill: $white;
      }
    }

  }

  span {
    line-height: 0;
    color: $darkerGray;
    &:nth-child(1) {
      padding-left: 20px;
      margin: auto;
    }
    svg {
      width: 26px;
      fill: $darkerGray;
    }
  }

  &:last-child {
    background-color: $darkerGray;

    span {
      color: $white;

      svg {
        fill: $white;
      }
    }
  }
}
.g-btn-icon-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: toRem(18);
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  width: 260px;
  box-sizing: border-box;
  transition: color .3s ease-in-out, background .3s ease-in-out,border-color .3s ease-in-out,opacity .3s ease-in-out;

  @include breakpoint-down(small) {
    padding-left: 28px;
    padding-right: 28px;
    font-size: toRem(14);
  }

  span {
    color: $black;
    line-height: 0;
    svg {
      width: 26px;
      fill: $black;
    }

    &:nth-child(1) {
      margin-left: 5px;
    }

    &:last-child {
      margin-right: 5px;
    }
  }

  &.g-sub-btn-black-white {
    background-color: $black;
    span {
      color: $white;
      svg {
        fill: $white;
      }
    }
  }

  &.g-sub-with-hover {
    &:hover {
      background-color: $black;
      span {
        color: $white;
        svg{
          fill: $white;
        }
      }
    }
  }
}
.g-btn-icon-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: $lightGray;
  background-color: $lightGray;
  span {
    color: $white;
    line-height: 0;
    svg {
      fill: $white;
      width: 26px;
    }
    
    &:last-child {
      margin-left: 10px;
    }
    @include breakpoint-down(small) {
      svg{
        width: 28px;
      }
    }
  }
}
// small buttons
.g-small-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $darkGray1;
  border-color: $darkGray1;
  color: $white;
  

  span {
    color: $white;
  }

  &.g-small-hover:hover {
    background-color: $lightGray;
    border-color: $lightGray;
  }
}
.g-xsmall-btn-icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkGray;
  border-color: $darkGray;
  margin-left: auto;
  margin-right: 0;
  padding: 10px 0;
  width: 200px;

  &:hover {
    background-color: $darkGray1;
    border-color: $darkGray1;
  }
  span {
    color: $white;
    line-height: 0;
    font-size: toRem(14);
    font-family: 'mt-regular',sans-serif;
    &:first-child {
        margin-right: 10px;
    }
    svg {
        width: 22px;
    }
  }
  &.disabled {
    background-color: $lightGray1;
    border-color: $lightGray1;
    cursor: no-drop;
  }
}

// Font styles
.g-font-dancing {
  font-family: 'Dancing Script', cursive;

  &.this-font-size {
    font-size: 18px !important;
  }
}
.g-font-caveat {
  font-family: 'Caveat', cursive;
  &.this-font-size {
    font-size: 17px !important;
  }
}
.g-font-acme {
  font-family: 'Acme', sans-serif;
  &.this-font-size {
    font-size: 15px !important;
  }
}
.g-font-satisfy {
  font-family: 'Satisfy', cursive;
  &.this-font-size {
    font-size: 15px !important;
  }
}
.g-font-cookie {
  font-family: 'Cookie', cursive;
  &.this-font-size {
    font-size: 20px !important;
  }
}
.g-font-secular {
  font-family: 'Secular One', sans-serif;
  &.this-font-size {
    font-size: 16px !important;
  }
}
.g-font-montserrat {
  font-family: 'Montserrat', sans-serif;
  &.this-font-size {
    font-size: 16px !important;
  }
}
.g-font-cairo {
  font-family: 'Cairo', sans-serif;
  &.this-font-size {
    font-size: 16px !important;
  }
}
