.section-product {
    .product-shell {
        .product-body {
            margin-top: 20px;
            .columns {
                .column {
                    &.product-featured-img {
                        position: sticky;
                        top: 60px;
                        align-self: flex-start;

                    }

                    .product-headings {
                        margin-bottom: 30px;
                        .product-title {
                            font-size: 36px;
                            font-family: 'mt-medium', sans-serif;
                            margin-bottom: 8px;
                        }

                        .product-price {
                            font-size: 26px;
                            font-family: 'mt-thin', sans-serif;
                            font-weight: bold;
                        }
                    }

                    .product-options {
                        .option-title {
                            margin-bottom: 20px;
                        }
                        .options-wrapper {
                            margin-bottom: 20px;
                            padding-bottom: 26px;
                            border-bottom: 1px solid $lightGray;
                            .columns {
                                .column {
                                    padding-top: 0px;
                                    box-sizing: border-box;
                                    
                                    .option {
                                        position: relative;
                                        input {
                                            display: none;
                                            position: absolute;

                                            &:checked + label {
                                                background-color: $darkGray;
                                                .color {
                                                    border-color: $white;
                                                }
                                                .opt-title, span {
                                                    color: $white;

                                                    svg {
                                                        fill: $white;
                                                    }
                                                }
                                            }
                                        }

                                        label {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            padding: 12px 0;
                                            cursor: pointer;
                                            border-radius: 10px;
                                            border: 1px solid $lightGray;
                                            user-select: none;
                                            font-weight: bold;
                                            position: relative;

                                            &:hover {
                                                border-color: $darkGray;
                                            }

                                            // For color option
                                            .color {
                                                width: 24px;
                                                height: 24px;
                                                border-radius: 50%;
                                                border: 1px solid $lightGray;
                                                margin-bottom: 2px;
                                                position: relative;

                                                
                                            }

                                            // For color option
                                            .color-title {
                                                font-size: 12px;
                                                color: $darkGray;
                                                text-align: center; 
                                                padding: 0 2px;
                                                padding-top: 1px;
                                            }

                                            // For out of stock indicator
                                            &.out-of-stock {
                                                border-color: $lightGray1;
                                                background-color: $lightGray1;
                                                cursor: no-drop;

                                                .color {
                                                    border-color: $white !important;
                                                    &::after {
                                                        content: '';
                                                        width: 2px;
                                                        height: 25px;
                                                        left: 11px;
                                                        position: absolute;
                                                        background-color: $white;
                                                        transform: rotate(50deg);
                                                        display: inline-block;
                                                    }
                                                }

                                                .color-title {
                                                    color: $lightGray !important;
                                                }
                                            }


                                            // For lid option
                                            &.lid-option {
                                                padding: 18px 0;
                                            }
                                            // For personalization
                                            .personalize-title {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                padding: 2px 16px;
                                                &-txt {
                                                    p {
                                                        font-size: 9px;
                                                        margin-top: 2px;
                                                        padding-right: 20px;
                                                    }
                                                }
                                                &-price {
                                                    span {
                                                        font-size: 19px;
                                                        font-family: 'mt-thin',sans-serif;
                                                        font-weight: bold;
                                                    }
                                                }
                                            }
                                            // For personalization
                                            &.personalize-option {
                                                align-items: flex-start;
                                                justify-content: center;
                                                height: 60px;
                                            }
                                            // For style option
                                            .style-title {
                                               &-txt {
                                                    height: 60px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: center;
                                                    align-items: center;
                                                    span {
                                                        display: block;
                                                        &:not(:first-child){
                                                            font-size: 12px;
                                                            font-family: 'mt-thin', sans-serif;
                                                        }
                                                    }
                                                }
                                            }
                                            // For icon option
                                            .icon-icon {
                                                height: 60px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                span {
                                                    svg {
                                                        fill: $darkGray;
                                                        height: 42px;
                                                    }
                                                }
                                            }
                                            // Font font style
                                            &.font-option {
                                                .font-title {
                                                    &-txt {
                                                        height: 26px;
                                                        max-height: 26px;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        span {
                                                            font-size: 14px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    } /* end of option */
                                } /* end of column */
                            } /* end of columns */

                            .option-texts {
                                .option-text {
                                    &:not(:last-child) {
                                        margin-bottom: 16px;
                                    }
                                    input {
                                        width: 100%;
                                        font-family: 'mt-regular',sans-serif;
                                        color: $lightGray;
                                        padding: 5px;
                                        font-size: toRem(16);
                                        outline: none;
                                        border: 1px solid $lightGray;
                                        border-radius: 5px;
                                        box-sizing: border-box;
                                        
                                        &:focus {
                                            border: 2px solid $lightGray;
                                        }
                                    }
                                    span {
                                        margin-top: 5px;
                                        font-size: 14px;
                                        display: inline-block;
                                        font-family: 'mt-thin', sans-serif;
                                        font-weight: bold;
                                    }
                                }
                            } /* end of option texts */
                        } /* end of wrapper */
                    }

                    .product-button {
                        margin-top: 16px;
                        // text-align: center;
                        .product-btn {
                            display: inline-block;
                            background-color: $darkGray;
                            border-radius: 10px;
                            transition: color 0.5s ease-in-out, background 0.5s ease-in-out,
                            border-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
                            // width: 100%;

                            &:hover {
                                background-color: $darkGray1;
                            }
                            .btn-desc {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                color: $white;
                                height: 66px;
                                max-height: 65px;
                                padding: 10px 30px;
                                box-sizing: border-box;
                                span {
                                    &:not(:last-child) {
                                        margin-right: 20px;
                                    }
                                    font-size: 20px;
                                    line-height: 0;
                                    &:last-child {
                                        font-family: 'mt-thin', sans-serif;
                                        font-weight: bold;
                                    }
                                    svg {
                                        width: 30px;
                                        fill: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}