.section-blogs {
    .blogs-shell {

        .blogs-body {
            .columns {
                .column {
                    .card {
                        position: relative;
                        border-radius: 0;
                        .card-link  {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            z-index: 1;

                            &:hover ~ .card-content > .card-title {
                                text-decoration: underline;
                            }
                        }
                        .card-content {
                            .card-title {
                                margin-bottom: 5px;
                            }
                            .card-heading {
                                font-size: toRem(20);
                            }
                        }
                    }
                }
            } /* end columns */
            .blogs-btn {
                margin-top: 45px;
            }
        }
    }
}