.section-ideas.remove-extra {
    margin-top: -90px;
}

.ideas {

   &-shell {
       .columns {
           .column {
               box-sizing: border-box;
               .card {
                   border-radius: 0;

                   .card-image {
                       .image img {
                           border-radius: 0;
                           object-fit: cover;
                       }
                   }
               }
           }
       }
   }

    &-btn {
        margin-top: 80px;
    }
}