$lighterGray: #f7f7f7;
$lightGray: #989898;
$lightGray1: #d6d6d6;
$darkGray1: #757171;
$darkGray: #5e5e5e;
$darkerGray: #303030;
$white: #ffffff;
$black: #000;

$deepYellow: #eaaa00;

// Use in Pages
$notActive: #f4f4f4;
$textNotActive: #d3d3d3;
$active: #d8d8d8;
$activeText: #989898;

// Accent1
$yellowAccent: #ffda43;
