$lighterGray: #f7f7f7;
$lightGray: #989898;
$lightGray1: #D6D6D6;
$darkGray1: #757171;
$darkGray: #5E5E5E;
$white: #FFFFFF;
$black: #000;

$deepYellow: #EAAA00;

// Use in Pages
$notActive: #f4f4f4;
$textNotActive: #d3d3f3;
$active: #d8d8d8;
$activeText: #989898;